/* basic css stuff */
// slider text
.et_pb_slider .et_pb_slide {
  .et_pb_slide_content {
    .emery-desc-slide-title,
    .emery-desc-slide-subtitle { // both.
        font-weight: 700;
        line-height: 1.1em;
    }
    .emery-desc-slide-title {
        font-size: 80px;
        text-transform: none;
    }
    .emery-desc-slide-subtitle {
          font-size: 33px;
          letter-spacing: 4px;
    }
  }
}
@media all and (max-width: 980px) {
  .et_pb_slider .et_pb_slide {
    .et_pb_slide_content {
      .emery-desc-slide-title {
          font-size: 65px;
      }
      .emery-desc-slide-subtitle {
            font-size: 30px;
      }
    }
  }

}
@media only all  and (max-width: 767px) {
  .et_pb_slider .et_pb_slide {
    .et_pb_slide_content {
      .emery-desc-slide-title {
          font-size: 50px;
      }
      .emery-desc-slide-subtitle {
            font-size: 22px;
      }
    }
  }
}
// emerys-book-button (in main menu & footer widgets)
  ul.nav, ul.menu { // both buttons
    li.emerys-book-button a {
      //padding: 6px 18px;
      background-color: $emerys-gold;
      color: white!important;
      padding: 8px 16px!important;
    }
    li.emerys-book-button a:hover {
      background-color: $emerys-black;
    }
  }

#top-menu-nav {
  ul.nav { // only top-menu button
    li.emerys-book-button a {
      margin-top: -8px; // put back where belongs
    }
  }
}
// divi modules
.et_pb_filterable_portfolio { // portfolio modules
  .et_pb_portfolio_filters { // div around filters
    ul li {
      a {
        //border: 0px; // no border around the filters
      }
    }

  }
}
// gallery popup - disable filename showing in popup
.mfp-bottom-bar {
  .mfp-title {
    display: none;
  }
}

#main-footer {
  ul.menu { // just footer
    li.emerys-book-button {
      padding-left: 0px;
    }
  }
}
