/* **** media **** */
// Divi breakpts
// mobile menu shows at max-width:

@media only screen and (min-width: 981px) {
  .et-fixed-header #et-top-navigation #top-menu li.emerys-book-button a,
  #top-menu-nav #et-top-navigation nav>ul>li.emerys-book-button>a {
    color: white!important;
  }

}
@media all and (max-width: 980px) { // nav menu,  woo & footer widgtes
  .reach-row-stackorder {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		flex-wrap: wrap;
		.reach-second-at-mobile {
			-webkit-order: 2;
			order: 2;
		}
		.reach-first-on-mobile {
			-webkit-order: 1;
			order: 1;
		}
	}
}
@media only screen and (max-width: 960px) {

}
@media only all  and (min-width: 768px) {
  // divi modules
  .et_pb_filterable_portfolio { // portfolio modules
    .et_pb_portfolio_filters { // div around filters
      ul li {
        a {
          border: 0px; // no border around the filters
        }
      }
    }
  }
}
@media only all  and (max-width: 767px) {
  // divi modules
  .et_pb_filterable_portfolio { // portfolio modules
    .et_pb_portfolio_filters { // div around filters
      ul li {
        a {
          border-bottom-width: 2px; // no border around the filters
          margin-top: 0px; // disable the -1 top margin...
        }
      }
    }
  }
  #main-footer { // see media for phone styling.
    #footer-widgets {
      .footer-widget {
        .fwidget {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 479px) {
}
@media all and (max-width: 430px) {
  // divi modules

  .et_pb_column .et_pb_filterable_portfolio { // portfolio modules
    .et_pb_portfolio_filters { // div around filters
      ul li {
        width: 100%;
      }
      ul li:not(:first-child) a {
        border-top: 0px;
      }
    }
  }
}
